{% extends 'base.html' %}

{% block content %}
    <title>{% block title %}ZG|Logout{% endblock %}
    <div class="form-container">
        <h2>Are you sure you want to log out?</h2>

        <!-- Logout Form -->
         
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>

            <!--button type="submit" class="btn btn-primary">Logout</button-->
        </form>

        <p><a href="{% url 'home' %}">Back to Home</a></p>

        <!-- Logout Confirmation -->
        <h2 class="mt-4">You have been logged out successfully!</h2>
        <p><a href="{% url 'login' %}">Login again</a></p>
    </div>

{% endblock %}
